Repository niksy/eslint-config-nitpick: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path .gitignore --write

9.0.0
  package.json
Due: none

Adjust rules
  index.js
Due: eslint --fix

9.0.1
  package.json
Due: none

Update dependencies
  .eslintrc
  package.json
Due: none

Update rules
  index.js
  next.js
  package.json
  react.js
  test/fixtures/all-rules.js
  test/index.js
  tests.js
  vue.js
Due: eslint --fix

Upgrade package
  .gitignore
  .lintstagedrc
  README.md
  package.json
Due: prettier --ignore-path .gitignore --write

Ignore fixtures when linting
  .eslintrc
Due: none

Add initial TypeScript configuration
  README.md
  package.json
  test/fixtures/all-rules.js
  test/fixtures/typescript.config.js
  test/index.js
  typescript.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Use FQN for plugins and configs
  .eslintrc
  index.js
  jsx.js
  next.js
  react.js
  tests.js
  typescript.js
  vue.js
Due: eslint --fix

Update Next config
  next.js
Due: eslint --fix

Use strict rule
  index.js
  test/fixtures/default-non-strict.config.js
  test/index.js
Due: eslint --fix

Update Prettier config
  index.js
  package.json
Due: eslint --fix

Upgrade dependencies
  package.json
Due: none

Remove eslint-plugin-extend
  index.js
  package.json
  test/index.js
Due: eslint --fix

10.0.0
  package.json
Due: none

Handle TypeScript markers for comments
  index.js
Due: eslint --fix

10.0.1
  package.json
Due: none

Skip syntax check for optional parameters in TypeScript
  typescript.js
Due: eslint --fix

10.0.2
  package.json
Due: none

Upgrade package
  .editorconfig
  .github/workflows/ci.yml
  .lintstagedrc
  .prettierrc
  .travis.yml
  CHANGELOG.md
  README.md
  package.json
Due: prettier --ignore-path .gitignore --write

Upgrade plugins and remove peer dependencies
  README.md
  package.json
  test/index.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Fix existing rules
  vue.js
Due: eslint --fix

Update documentation
  README.md
Due: prettier --ignore-path .gitignore --write

Upgrade rules
  browser.js
  index.js
  next.js
  react.js
  tests.js
  vue.js
Due: eslint --fix

Update tests
  test/index.js
Due: eslint --fix

Update rules
  index.js
  test/index.js
Due: eslint --fix

Disable certain rules not compatible with ESLint 8
  index.js
Due: eslint --fix

11.0.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Add ESLint to peer dependencies
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Use `2022` for `parserOptions.ecmaVersion`
  CHANGELOG.md
  next.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Set Node version to minimum 12.22
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Move Unicorn DOM rules to browser configuration
  CHANGELOG.md
  browser.js
  index.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Enforce extension for imports
  CHANGELOG.md
  index.js
  next.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

11.1.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Downgrade `eslint-plugin-mocha` version
  CHANGELOG.md
  package.json
  tests.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

11.1.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Disable Node plugin file extension resolver
  CHANGELOG.md
  next.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

11.1.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --ignore-path .gitignore --write: any of: *.md
