Repository niksy/eslint-config-nitpick: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path .gitignore --write

Update rules
  index.js
  vue.js
Due: eslint --fix

Upgrade to ESLint 9
  .eslintrc
  .github/workflows/ci.yml
  README.md
  browser.js
  eslint.config.js
  index.js
  package.json
  test/.eslintrc
  test/fixtures/all-rules.cjs
  test/index.js
  tests.js
  typescript.js
  vue.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Upgrade to ESLint 9 compatible version of eslint-find-rules
  package.json
  test/fixtures/all-rules.js
Due: eslint --fix

Upgrade to ESLint 9
  .eslintrc
  .github/workflows/ci.yml
  README.md
  browser.js
  eslint.config.js
  index.js
  package.json
  test/.eslintrc
  test/fixtures/all-rules.cjs
  test/fixtures/browser.config.js
  test/index.js
  tests.js
  typescript.js
  vue.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Update changelog
  CHANGELOG.md
Due: prettier --ignore-path .gitignore --write

14.0.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Fix peer dependencies and engines version
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

14.0.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Update Vue parser and processor options
  CHANGELOG.md
  package.json
  vue.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

14.0.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

14.1.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Use TypeScript parser for TypeScript files
  package.json
  test/fixtures/typescript.config.ts
  test/index.js
  typescript.js
Due: eslint --fix

Remove unused tests
  test/fixtures/jsx.config.js
  test/fixtures/react.config.js
Due: eslint --fix

Upgrade package
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .prettierrc
  README.md
  browser.js
  eslint.config.js
  index.js
  lint-staged.config.js
  package.json
  prettier.config.js
  test/fixtures/all-rules.js
  test/index.js
  tests.js
  typescript.js
  vue.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Allow CommonJS for .cjs files
  index.js
  test/fixtures/default.config.cjs
  test/index.js
Due: eslint --fix

14.2.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Update documentation
  README.md
Due: prettier --ignore-path .gitignore --write

Disable TypeScript specific rules
  typescript.js
Due: eslint --fix

Add types
  CHANGELOG.md
  index.d.ts
  lint-staged.config.js
  package.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

14.2.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Update rules
  index.js
Due: eslint --fix

Upgrade package
  .github/workflows/ci.yml
  browser.js
  index.js
  package.json
  test/index.js
  tests.js
  vue.js
Due: eslint --fix

Remove deprecated rules
  browser.js
  index.js
Due: eslint --fix

15.0.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Update package
  CHANGELOG.md
  lint-staged.config.js
  prettier.config.js
  tsconfig.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

15.0.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --ignore-path .gitignore --write: any of: *.md
