Repository niksy/eslint-config-nitpick: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path .gitignore --write

Update changelog
  CHANGELOG.md
Due: prettier --ignore-path .gitignore --write

Upgrade dependencies
  package.json
Due: none

Update rules
  index.js
  react.js
  tests.js
  vue.js
Due: eslint --fix

Activate Vue 3 rules
  vue.js
Due: eslint --fix

Set Node version to minimum 16
  .github/workflows/ci.yml
  package.json
Due: none

12.0.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Force minor version for packages
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

12.0.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Update rules
  CHANGELOG.md
  index.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

12.0.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Update rules
  index.js
  next.js
  react.js
  tests.js
  vue.js
Due: eslint --fix

Update rules
  index.js
Due: eslint --fix

Temporarily disable eslint-find-rules
  package.json
Due: none

Incremental switch to ESM
  package.json
  test/.eslintrc
  test/fixtures/all-rules.cjs
  test/index.js
  test/package.json
Due: eslint --fix

Remove "next" configuration
  README.md
  index.js
  next.js
  package.json
  test/fixtures/all-rules.cjs
  test/fixtures/next.config.js
  test/index.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Remove React and JSX configuration
  README.md
  jsx.js
  package.json
  react.js
  test/fixtures/all-rules.cjs
  test/index.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Update default parser options
  index.js
Due: eslint --fix

Update environment for configuration files
  browser.js
  index.js
Due: eslint --fix

Use maintained version of Node plugin
  index.js
  package.json
Due: eslint --fix

Group stylistic rules
  browser.js
  index.js
  tests.js
  typescript.js
  vue.js
Due: eslint --fix

Apply stricter ESM rules
  .eslintrc
  index.js
  test/.eslintrc
Due: eslint --fix

Use camel case for event naming in Vue
  vue.js
Due: eslint --fix

Add additional ESM rules
  .eslintrc
  index.js
  test/.eslintrc
  test/fixtures/default.config.js
  test/index.js
Due: eslint --fix

13.0.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

13.0.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Reorganize stylistic rules
  index.js
  vue.js
Due: eslint --fix

Update rules
  CHANGELOG.md
  index.js
  test/index.js
  typescript.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

13.0.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --ignore-path .gitignore --write: any of: *.md
